.filterHeader{
  background-color: white;
  width: 100%;
  height: 55px;
  position: absolute;
  z-index: 1;
  height: fit-content;
}

.btn-filter {
  border-radius: 15px;
  margin: 2% 1%;
  background-color: white;
  color: black;
  text-transform: capitalize;
  margin-top: 12px;
}

.btn:hover{
  background-color: blueviolet;
}

.btn:after{
  background-color: white;
}

.modal{
  top: 100%;
  width: 20%;
}

.filter-modal{
  background-color: transparent;
}

.btn-small i{
  color: black;
  font-size: 20px;
}

.hospedes-line{
  margin: 5px 0%;
  padding: 5px;
}

.hospedes-bottom{
  margin: 10% 0;
  color: inherit
}

.apply{
  color: green
}

.number-guest{
  margin: 3%;
}

.hospedes-line{
  margin-bottom: 10%;
}

.modal{
  width: 30%;
}

.modal-hotel{
  width: 20% !important;
}

.datepicker-date-display{
  background-color: rgb(84, 26, 110);
}
.datepicker-cancel{
  color: black;
}

/* slider color */ 
input[type=range]+.thumb{
  background-color: rgb(84, 26, 110);
  
}

input[type=range]+.thumb .value {
  color:rgb(84, 26, 110);
}

input[type=range]::-webkit-slider-thumb {
  background-color:rgb(84, 26, 110);
}
input[type=range]+.thumb.active {
  border-radius: 60% 60% 60% 0;
}
