.hotel-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.hotel-grid li {
  padding: 10px 15px;
  text-align: left;
}

.hotel {
  width: 140px;
  opacity: 0.9;
  transition: 0.5s ease
}

.hotel:hover {
  transform: scale(1.05, 1.05);
  opacity: 1;
}

.hotel-title,
.hotel-authors {
  font-size: 0.8em;
}
.hotel-title {
  margin-top: 10px;
}

.hotel-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.hotel-set {
  text-align: center;
}