.header{
  background-color: rgb(84, 26, 110); 
}

#header-buttons {
  display: flow-root;
  vertical-align: middle;
  padding-top: 0.5%;
  height: 50px;
}

#country-title{
  font-size: 30px;
}

#nav {
  position: fixed;
  top: 0; 
  width: 100%;
  display: block;
  z-index: 9999;
}

#header-content{
  height: 200px;
  -webkit-transition: height 0.5s;
  transition: all ease height 0.5s;
}
.nav-wrapper{
  overflow: hidden;
}

.search-bar-header{
  display: none;
}

.input-header{
  color: white;
}

.btn-destination{
  background-color: rgb(84, 26, 110) !important; 
  border: 1px solid white !important;
  color: white;
  position: absolute;
  z-index: 1;
  border-radius: 15px;
}

.btn-destination:hover{
  background-color: white !important;
  color: black;
}

input.valid:not([type]), input.valid:not([type]):focus, input.valid[type=text]:not(.browser-default), input.valid[type=text]:not(.browser-default):focus, input.valid[type=password]:not(.browser-default), input.valid[type=password]:not(.browser-default):focus, input.valid[type=email]:not(.browser-default), input.valid[type=email]:not(.browser-default):focus, input.valid[type=url]:not(.browser-default), input.valid[type=url]:not(.browser-default):focus, input.valid[type=time]:not(.browser-default), input.valid[type=time]:not(.browser-default):focus, input.valid[type=date]:not(.browser-default), input.valid[type=date]:not(.browser-default):focus, input.valid[type=datetime]:not(.browser-default), input.valid[type=datetime]:not(.browser-default):focus, input.valid[type=datetime-local]:not(.browser-default), input.valid[type=datetime-local]:not(.browser-default):focus, input.valid[type=tel]:not(.browser-default), input.valid[type=tel]:not(.browser-default):focus, input.valid[type=number]:not(.browser-default), input.valid[type=number]:not(.browser-default):focus, input.valid[type=search]:not(.browser-default), input.valid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown{
  border-bottom: white;
  box-shadow: white;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: white;
  box-shadow: white;
}